<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/all.css ">
  </head>
  <body class="bg-light">

    <div id="app">

      <!-- NAVBAR START -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <span class="fas fa-key mx-2 p" style=" font-size: 1.5rem; color:#fff"> </span>
          <span class="navbar-brand mb-0 px-2 h1">Password Generator</span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mx-1 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link pointer" v-bind:class="{active: page == 'home'}" aria-current="page" v-on:click="page = 'home'">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pointer" v-bind:class="{active: page == 'about'}" v-on:click="page = 'about'">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pointer" v-bind:class="{active: page == 'generate'}" v-on:click="page = 'generate'">Generate</a>
              </li>
            </ul>
            <div class="d-flex">
              <form action="https://github.com/LeFelps/simple-pass_wordlist">
                <button class="btn btn-outline-success" type="submit">Source Code</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
      <!-- NAVBAR END -->
      
      
      <!-- PAGE START -->
      <div>
        <div class="w-100 px-2 pb-3 container">
          <!-- HOME START -->
          <transition name="fade">
            <div v-show="page == 'home'" class="mt-5">
              <div style="height: 5vw;"></div>
              <p class="my-0 display-1">
                Password Wordlist 
              </p>
              <p class="my-0 display-1">
                Generator.
              </p>
              <div style="height: 13vw;"></div>
              <div clas="row">
                <p class="my-0 display-4">  
                  <i class="fas fa-clipboard-list mt-5 display-4" style="color:#212529d0; margin-right: 1vw;"></i>
                  Wordlists are text files used in bruteforce pentest
                </p>
              </div>
            </div>
          </transition>
          <!-- HOME END -->
          
          <!-- ABOUT START -->  
          <transition name="fade">
            <div v-show="page == 'about'" class="mt-5">
              <div style="height: 5vw;"></div>
              <p class="my-0 display-3">
                Wordlist Builder
              </p>
              <div style="height: 2rem;"></div>
              <p class="my-0" style="font-size: 1.3rem;">
                <b>What is this password generator?</b> <br>
                This is a simple wordlist generator for <i>"birthday + name + special character"</i> password combinations. Meaning that after you input someone's birthay and name (plus abbreviations), this tool will generate all possible combinations of "strong" passwords. <br>
                <br>
                <b>What is this for?</b> <br>
                It can be used to bruteforce pentest your applications and accounts.<br>
                <br>
                <b>What is pentest?</b> <br>
                Pentest (penetration test) is a cybersecurity exercise where you try to find vulnerabilities on your own system.<br>
              </p>
            </div>
          </transition>
          <!-- ABOUT END -->
          
          <!-- GENERATE START -->      
          <transition name="fade">
            <div v-show="page == 'generate'" class="mt-5">

              <p class="my-0 display-5">
                Start Building
              </p>
              <div style="height: 2vw;"></div>
              <div class="w-100 bg-white rounded border p-4">
                <div class="form-group" style="font-size: 1.5rem;">
                  <label for="birthday" class="mb-1">Birthday date</label>
                  <input type="date" class="form-control" id="birthday" v-model="birthday"></input>
                </div>
                <div class="mt-3 row form-group" style="font-size: 1.5rem;">
                  <p class="mb-1 w-auto">
                    Names, nicknames and abbreviations
                  </p>
                  <button class="btn btn-outline-success mb-2 mx-1 w-auto" v-on:click="addName(names)">Add</button>
                </div>
                <div class="input-group mb-3" 
                v-for="(input, index) in names"
                :key="`nameInput-${index}`">
                  <input v-model="input.name" id="name" type="text" class="form-control" placeholder="Name">
                  <button class="btn btn-danger rounded" v-on:click="removeName(index, names)">Remove</button>
                  <div class="btn-group" role="group" aria-label="Basic example">
                  </div>
                </div>
                <button class="btn btn-primary" v-on:click="generatePasswords()">Generate!</button>
              </div>
            </div>
          </transition>
          <!-- GENERATE END -->

        </div>
      </div>
      
    </div>
    <!-- PAGE END -->
    
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="./node_modules/file-saver/dist/FileSaver.js"></script>
    <script src="./js/main.js"></script>

  </body>
</html>